---
---

@import "{{ site.theme }}";

#header_wrap {
  img {
    box-shadow: none;
    border: none;
    max-height: 100px;
    max-width: 50%;
    margin: 0;
    padding: 0;
  } 
} 

#forkme_banner {
  top: calc(100% - 15px);
  background: #008dfe;
  padding: 3px 10px;
  border-radius: 103px;
  height: 30px;
  vertical-align: bottom;
  box-sizing: border-box;
  
  &:hover {
    text-decoration: none;
    background: #046fc7;
  }
}
