---
---

@import "{{ site.theme }}";

#header_wrap {
  img {
    box-shadow: none;
    border: none;
    max-height: 100px;
    max-width: 50%;
    margin: 0;
    padding: 0;
  } 
} 

#forkme_banner {
  top: calc(100% - 22px);
  background: #008dfe;
  padding: 5px 10px;
}
